*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgba(182, 178, 178, 0.767);
}

.container{
    width: 700px;
    margin: 20px;
    padding: 20px;
    background: rgba(235, 235, 235, 0.767);
}

table, th, td {
padding: 5px;
}

table {
border-spacing: 5px;
border: 1px solid rgb(158, 158, 158);
}

.btn{
    padding: 1em;
    border: 1px snow ;
    margin: 1px;
    margin: 5px;
}

input{
    font-size: 1.5rem;
}